body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin:0;
    
    
    
    
   
  }

  .header {
      background-color: #1f2937;
      color: white;
      padding: 10px 150px;
      display: flex;
      flex-direction: column;
      flex:1;
      font-weight: 300;
      zoom: 90%;
      overflow: hidden;
      
      
      
  
  }

  .topheader {
      display: flex;
      align-items: baseline;
  }

  .headerlogo {
      font-size: 24px;
      color: #f9faf8;
  }

  .headerlinks {
    margin-left: auto;
  }

  .headerlinks a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }

  .headerlinks ul {
      list-style: none;
      display: inline-flex;
      gap: 24px;  
  }

  .headercontainer {
      display: flex;
      position: relative;   
      flex:1;
      margin:50px 0 100px;
     
  }

.one {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1 2 auto;
    
}
#text {
    padding: 10px 0;

}

button.signup {
    background-color:#3882f6;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border:#3882f6;
    padding: 5px 25px;

}

.buttonsign {
    display: flex;
    margin-top: auto;
}



.two {
    margin-left: 100px;
    display:flex;
    

} 

.two img {
    max-height: 100%;
    background-clip: content-box;
}
  

   
div.onebig {
      font-size: 48px;
      margin: 0;
      line-height: 100%;
      font-weight: 400;
  }

.main {
    display: flex;
    flex-direction: column;
    flex:1;
    
}

.containerone {
    padding: 10px 150px;
    margin: 30px 0;
}

.containerheader {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
    
    
}
.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:16px;
    
}

.card {
   
    border: #1f2937 5px ridge;
    background-color: #e5e7eb;
    border-radius: 25px;
    
}

.cards img {
    width: 140px;
    height: auto;

}
.cardtexts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
    text-align: center;
    font-size: 16px;
    
}

.cardtext {
    height:auto;
    width: 140px;
    margin: 0 5px;
    
}

.containertwo {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 80px 100px;
    align-items: center;
}


blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    
    margin: 0.25em 0;
    padding: 0.25em 20px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    }

    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 80px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #7a7a7a;
        }

        blockquote cite {
            color: #999999;
            font-size: 14px;
            display: block;
            margin-top: 5px;
            }
             
            blockquote cite:before {
            content: "\2014 \2009";
            }

.footer {
    display: flex;
    flex-direction: column;
    flex:1;
}

.footercontainer {
    display:flex;
    justify-content: center;
    padding: 40px 90px;
    margin:100px 90px;
    background-color: #3882f6;
    color: #f9f9f9;
   
    
}

.leftbottomcontainer :first-child {
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    
}

.leftbottomcontainer p {
    margin:0;

}

.rightbutton {
    margin-top: auto;
    margin-left: auto;
}

.rightbutton button {
   
        border: 2px solid #f9f9f9;
        border-radius: 5px;
        background-color: #3882f6;
        font-size: 20px;
        font-weight: bold;
        color: #f9f9f9;
        padding: 5px 25px;
             
}

.bottomfooter {
    background-color: #1f2937;
    color: #f9f9f9;
    text-align: center;
    padding: 30px;
}







  



  